<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'master.html' %}

{% if liste %}
    {% block title %}
        Détail de presence :
    {% endblock %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h3>{{ liste.reason }}</h3>
                    <li>date : {{ liste.date }}</li>
                    <li>étudiant : {{ liste.student.first_name }} {{ liste.student.last_name }}</li>
                </div>
            </div>
        </div>
    {% endblock %}
{% else %}
    <p>No student to show.</p>
{% endif %}
</body>
</html>